@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_Master2.cshtml";
}
<h2>Overview</h2>
<div class="editor">
    <p>Air traffic volumes are increasing all the time, with passenger numbers set to more than double over the next 20 years. With more people taking more journeys, airlines, airports and ground handlers will have to deal with the growing demand. Airport Management is a suite of integrated software applications designed to support and enhance airport operations.</p>
    <h3 class="blocTitle"> Airport Management will:</h3>
    <ul class="bullet">
        <li>Give you control of all your operations from a central point</li>
        <br />
        <li>Optimize your existing infrastructure</li>
        <br />
        <li>Standardize operations across multiple sites and multiple regions</li>
        <br />
        <li>Give you access to real-time data, allowing you to assign assets and resources more effectively</li>
        <br />
        <li>Ensure you maintain profitability and on-time performance</li>
        <br />
        <li>Enable you to recover quickly from inevitable disruptions</li>
        <br />
        <li>Give you the tools you need to improve existing systems and procedures and future-proof your business</li>
    </ul>
    <h4 class="subContentTitle">Anticipate</h4>
    <p>Proactively deliver real-time data and alerts to avoid domino effects. When disruptions do occur, early decisions make for better decisions.</p>
    <h4 class="subContentTitle">Collaborate</h4>
    <p>Simplify complexity and facilitate collaboration as you plan and control your operations, assigning assets and resources more effectively.</p>
    <h4 class="subContentTitle">Automate</h4>
    <p>Drive business results. Optimize performance and revenues through automation with real-time dashboards, accurate billing, clearly defined KPIs and predictive analytics.</p>
</div>