
@{
    ViewBag.Title = "Index";

    <link href="~/Styles/MasterSS.css" rel="stylesheet" />
}
    <h2 class="welcome">Welcome to Airport Management System</h2>
<h3 style="text-align:center;font-family:Arial;color:#00886c;font-size:25px">
         -Dream to fly high,Fly high to dream
     </h3>
    


